.input-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  color: #65657b;
  font-size: 18px;
  height: 40px;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  color-scheme: dark;
}

.label {
  color: #65657b;
  padding-left: 8px;
  line-height: 14px;
  pointer-events: none;
}

.active {
  color: #eee;
}

.error {
  color: #ef5656;
  font-size: 14px;
  height: 16px;
  padding-left: 8px;
  pointer-events: none;
}
