.input-container {
  height: 208px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-family: sans-serif;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 16px 20px 0;
  width: 100%;
  resize: none;
  color-scheme: dark;
}

.label {
  color: #65657b;
  font-family: sans-serif;
  padding-left: 8px;
  line-height: 14px;
  pointer-events: none;
}
